$font-faces: (
    'Akzidenz Grotesk': (
        prefix: 'akzidenz',
        variants: (
            'light': (
                weight: 300, style: normal
            ),
            'light-italic': (
                weight: 300, style: italic
            ),
            'regular': (
                weight: normal, style: normal
            ),
            'regular-italic': (
                weight: normal, style: italic
            ),
            'medium': (
                weight: 500, style: normal
            ),
            'medium-italic': (
                weight: 500, style: italic
            ),
            'bold': (
                weight: bold, style: normal
            ),
            'bold-italic': (
                weight: bold, style: italic
            )
        )
    )
);

@each $name, $options in $font-faces {
    $prefix: map-get($options, 'prefix');
    @each $slug, $variant in map-get($options, 'variants') {
        @font-face {
            font-family: $name;
            src: url('../fonts/' + $prefix + '-' + $slug + '.woff2') format('woff2');
            font-weight: map-get($variant, 'weight');
            font-style: map-get($variant, 'style');
            font-display: block;
        }
    }
}