#sidebar-container {
    padding: 25px 25px 40px;
}

.sidebar-card {
    @supports selector(:has(*)) {
        &:has(.multi-select[aria-expanded="true"]) {
            overflow-y: hidden;
        }
    }
}

header.global-header {
    &.header-minimal {
        .title {
            font-size: 26px;
        }
        
        #main-menu {
            top: 41px;
            right: 24px;
            
            .menu-toggle {
                font-size: 20px;
            }
        }
    }
}

.user-profile {
    .review-timestamp {
        display: none;
    }
}

.feature-option-container {
    grid-template-columns: repeat(2, 1fr);
}