@use 'sass:list';

$stateGroups: (
    'accessible',
    'warning',
    'inaccessible',
    'auxiliary',
    'unknown'
);

$routeColors: (
    'red',
    'orange',
    'yellow',
    'green',
    'blue',
    'purple',
    'pink',
    'brown'
);

$fontFaces: (
    'Akzidenz Grotesk': (
        prefix: 'akzidenz',
        variants: (
            'light': (
                weight: 300, style: normal
            ),
            'light-italic': (
                weight: 300, style: italic
            ),
            'regular': (
                weight: normal, style: normal
            ),
            'regular-italic': (
                weight: normal, style: italic
            ),
            'medium': (
                weight: 500, style: normal
            ),
            'medium-italic': (
                weight: 500, style: italic
            ),
            'bold': (
                weight: bold, style: normal
            ),
            'bold-italic': (
                weight: bold, style: italic
            )
        )
    )
);