@use '../mixins';

.about__graphic {
    max-width: 140px;
}

.about__headline {
    font-size: 32px;
    font-weight: mixins.weight('light');
    letter-spacing: -0.75px;
    
    @include mixins.mobile {
        font-size: 28px;
    }
}