@use '../mixins';

.big-radio {
    display: flex;
    align-items: center;
    gap: 8px;

    &__label {
        font-weight: mixins.weight('medium');
    }

    &__description {
        font-weight: mixins.weight('regular');
    }

    & + & {
        margin-top: 8px;
    }
}