@import '../mixins';

.icon {
    display: inline-block;
    line-height: 0.75em;
    vertical-align: -0.125em;

    svg {
        width: 1em;
        height: 1em;
    }
    
    &.icon-spinner svg {
        animation: spinner 0.65s linear infinite;
    }
    
    &--fixed-right {
        margin-left: auto;
        line-height: 0;
    }
}

@keyframes spinner {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}