@import '../mixins';

.form-fullscreen,
.notice-fullscreen,
.page-fullscreen {
    padding: 55px 30px 80px;
    max-width: 550px;
    margin-inline: auto;
}

.form-fullscreen,
.notice-fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 80px);
    
    @supports (min-height: 100dvh) {
        min-height: calc(100dvh - 80px);
    }
    
    & > h1 {
        margin-block: 0;
        letter-spacing: -1px;
    }
}

.notice-fullscreen {
    text-align: center;
    
    & > .icon {
        display: block;
        font-size: 42px;
        color: #232323;
        margin-top: 8px;
        
        @include dark {
            color: #f4f4f4;
        }
    }
}