@import '../mixins';

.user-profile {
    & > h1 {
        margin-block: 5px;
    }
    
    .profile-picture {
        width: 100px;
    }
    
    .review-container {
        margin-bottom: 30px;
    }
    
    .review {
        margin-top: 22px;
        
        & + .review {
            border-top: 1px solid var(--horizontal-rule-color);
            padding-top: 20px;
        }
        
        &__header {
            margin-bottom: 10px;
        }
        
        &__timestamp {
            @include mobile {
                display: none;
            }
        }
    }
}