@import '../mixins';

.review-drawer-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.3s ease opacity;
    
    @include dark {
        opacity: 0.5;
    }
    
    &:hover {
        opacity: 0.8;
        
        @include dark {
            opacity: 0.6;
        }
    }
    
    .icon {
        font-size: 19px;
        margin-right: 4px;
    }
}

.review-drawer-toggle,
.review-contribute {
    padding: 6px 0;
    text-transform: uppercase;
}

.review-contribute {
    font-size: 13px;
    font-weight: weight('medium');
    letter-spacing: 0.5px;
    
    .icon {
        font-size: 19px;
        margin-right: 8px;
        margin-left: -1px;
    }
}