@import '../mixins';

.stop-details-card {
    .review-container {
        border-top: 1px solid var(--horizontal-rule-color);
    }

    .tag-list {
        font-size: 16px;
    }

    .source-link {
        display: block;
        font-size: 16px;
        font-weight: weight('light');
        opacity: 0.7;
    }
}