* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

body,
button,
input {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

a:hover,
a:active {
    border-bottom-color: currentcolor;
}

#map-container {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

#sidebar-container {
    width: min-content;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 30px;
}

h1.title {
    color: #1f1f1f;
    font-size: 34px;
    line-height: 1.25;
    margin: 15px 0;
    text-transform: lowercase;
    text-shadow: 0 0 35px #f3f3f3;
}

#search-container,
.stop-details-card {
    width: 460px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 25%);
}

#search-container {
    position: relative;
    padding: 2px;
}

#search-container,
#search-container input,
.stop-details-card {
    border-radius: 10px;
    overflow: hidden;
}

#search-container input {
    width: 100%;
    font-size: 22px;
    padding: 16px 12px;
    padding-right: 2.5em;
    border: none;
    letter-spacing: 0.75px;
}

#search-container input:placeholder-shown {
    font-style: italic;
}

#search-container .search-submit {
    position: absolute;
    top: 14px;
    right: 12px;
    padding: 4px 6px;
    font-size: 22px;
    color: #777;
    cursor: not-allowed;
}

#search-container input:not(:placeholder-shown) + .search-submit {
    color: #000;
    cursor: pointer;
}

#search-container .search-submit::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f002';
}

#search-results-container {
    margin: 0 12px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}

#search-results-container:empty {
    padding: 0;
    border: none;
}

#search-results-container > .search-result {
    width: 100%;
    color: #666;
    font-size: 18px;
    text-align: left;
    padding: 8px 0;
    border-radius: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: color 0.3s ease;
}

#search-results-container > .search-result:hover {
    color: #333;
}

.search-result + .search-result {
    margin-top: 4px;
}

.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-close {
    position: relative;
    top: 0;
    right: 0;
    padding: 8px;
}

.card-close::before {
    font-family: 'Font Awesome 6 Free';
    font-size: 24px;
    content: '\f00d';
}

.stop-details-card {
    padding: 22px 14px;
}

.stop-details-card.hidden {
    display: none;
}

#search-container + .stop-details-card {
    margin-top: 24px;
}

.stop-details-card h2 {
    font-size: 25px;
    letter-spacing: -0.5px;
    margin-block: 0;
}

.stop-details-card .subtitle {
    color: #999;
    letter-spacing: 0.25px;
}

.stop-details-card .source-link {
    font-size: 16px;
    color: #bbb;
}

.stop-details-card .source-link > a {
    color: inherit;
}

.stop-accessibility-state {
    font-size: 20px;
    font-weight: bold;
    padding: 28px 16px;
    margin: 18px 0;
    text-align: center;
    border-radius: 8px;
}

.stop-accessibility-state::before {
    font-family: 'Font Awesome 6 Free';
    font-size: 24px;
    margin-inline: -8px 10px;
    vertical-align: -2px;
}

.stop-accessibility-state.state-accessible {
    color: #1b3898;
    background-color: #7b99f9;
}

.stop-accessibility-state.state-accessible::before {
    content: '\e2ce';
}

.stop-accessibility-state.state-inaccessible {
    color: #971b1b;
    background-color: #f97b7b;
}

.stop-accessibility-state.state-inaccessible::before {
    content: '\f05e';
}