doctype html
html(lang='en')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width,initial-scale=1.0')
            title= title
            script(src='/js/vendor/jquery.min.js')
            link(href='/img/favicon-light.png', rel='icon', media='(prefers-color-scheme: dark)')
            link(href='/img/favicon-dark.png', rel='icon', media='(prefers-color-scheme: light)')
            link(rel='stylesheet' href='/css/style.css')
    body
        block content