.attachment {
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0;
    height: 125px;
    
    img {
        display: block;
        height: 125px;
    }
}

.attachment-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}