@import '../mixins';
@import './attachment';

.attachment-viewer {
    .attachment {
        &__enlarge {
            margin: 0;
            padding: 0;
        }
        
        &__actions {
            left: 0;
            bottom: 0;
        }
    }
}

.image-gallery {
    --pswp-bg: #fff;
    --pswp-icon-color: #111;
    --pswp-icon-color-secondary: #fff;
    --pswp-icon-stroke-color: #fff;
    
    @include dark {
        --pswp-bg: #000;
        --pswp-icon-color: #eee;
        --pswp-icon-color-secondary: #000;
        --pswp-icon-stroke-color: #000;
    }
    
    img {
        border-radius: 8px;
        overflow: hidden;
    }
}