@import '../mixins';

.review-container {
    padding-top: 14px;
}

.review {
    margin-top: 16px;
    
    p {
        margin-top: 6px;
        margin-bottom: 0;
    }
    
    &__header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
        font-size: 16px;
    }
    
    &__author,
    &__stop {
        font-weight: weight('medium');
    }
    
    &__timestamp {
        margin-left: auto;
        padding-right: 7px;
        font-weight: weight('light');
        opacity: 0.75;
        
        @include dark {
            opacity: 0.6;
        }
    }
    
    &__accessibility-state {
        font-size: 16px;
        font-weight: weight('medium');
        
        @each $name in $stateGroups {
            &.state-#{$name} {
                color: var(--state-#{$name}-foreground);
            }
        }
        
        .icon {
            margin-right: 6px;
        }
    }
    
    & + .review-contribute {
        margin-top: 16px;
    }
    
    .profile-picture {
        width: 1.5em;
        height: 1.5em;
    }
    
    .attachment-list {
        margin-top: 16px;
        padding-bottom: 12px;
        box-sizing: content-box;
    }
    
    .menu__toggle {
        color: #747474;
        
        @include dark {
            color: #828282;
        }
    }
}