@import './mixins';

html {
    color-scheme: light dark;
}

body {
    font-family: 'Akzidenz Grotesk', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--ui-base-text-color);
    background-color: var(--ui-base-color);
    margin: 0;
}

h1,
h2,
button,
.title {
    color: #1f1f1f;
    
    @include dark {
        color: #f9f9f9;
    }
}

hr {
    margin-block: 40px;
    border: none;
    height: 1px;
    background-color: var(--horizontal-rule-color);
}

del {
    text-decoration-thickness: 2px;
}

a {
    color: inherit;
    text-decoration: none;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 1px;
}

.subtitle {
    letter-spacing: 0.25px;
    opacity: 0.75;
    
    @include dark {
        opacity: 0.6;
    }
}

.profile-picture {
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}