$font-faces: (
    'Akzidenz Grotesk': (
        prefix: 'akzidenz',
        variants: (
            'light': (
                weight: 300, style: normal
            ),
            'light-italic': (
                weight: 300, style: italic
            ),
            'regular': (
                weight: normal, style: normal
            ),
            'regular-italic': (
                weight: normal, style: italic
            ),
            'medium': (
                weight: 500, style: normal
            ),
            'medium-italic': (
                weight: 500, style: italic
            ),
            'bold': (
                weight: bold, style: normal
            ),
            'bold-italic': (
                weight: bold, style: italic
            )
        )
    ),
    'Accessibility Icon Pack': (
        prefix: 'icon',
        variants: (
            'pack': (
                weight: 400, style: normal
            )
        )
    )
);

@each $name, $options in $font-faces {
    $prefix: map-get($options, 'prefix');
    @each $slug, $variant in map-get($options, 'variants') {
        @font-face {
            font-family: $name;
            src: url('../../public/fonts/' + $prefix + '-' + $slug + '.woff2') format('woff2'),
                url('../../public/fonts/' + $prefix + '-' + $slug + '.woff') format('woff');
            font-weight: map-get($variant, 'weight');
            font-style: map-get($variant, 'style');
            font-display: swap;
        }
    }
}

.icon {
    &::before {
        font-family: 'Accessibility Icon Pack';
    }
    
    $icons: (
        'search': '\e000',
        'close': '\e001',
        'add': '\e002',
        'link': '\e003',
        'error': '\e004',
        'accessible': '\e005',
        'warning': '\e006',
        'inaccessible': '\e007',
        'unknown': '\e008',
        'at-grade': '\e009',
        'above-grade': '\e00a',
        'below-grade': '\e00b',
        'elevator': '\e00c',
        'escalator': '\e00d',
        'ramp-entrance': '\e00e',
        'bench': '\e00f',
        'shelter': '\e010',
        'display': '\e011',
        'heating': '\e012',
        'chevron': '\e013'
    );
    
    @each $name, $glyph in $icons {
        &.icon-#{$name}::before {
            content: $glyph;
        }
    }
}