#sidebar-container {
    padding: 25px 25px 40px;
}

h1.title {
    font-size: 26px;
}

.user-profile {
    .review-timestamp {
        display: none;
    }
    
    .menu-container {
        margin-left: auto;
    }
}

#main-menu {
    top: 41px;
    right: 24px;
    
    .menu-container {
        .menu-toggle {
            font-size: 20px;
        }
    }
}