#sidebar-container {
    padding: 25px 25px 40px;
}

h1.title {
    font-size: 28px;
}

.user-profile {
    .review-timestamp {
        display: none;
    }
    
    .menu-container {
        margin-left: auto;
    }
}