* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
}

button {
    cursor: pointer;
    text-align: center;
}

select,
textarea {
    width: 100%;
}

textarea {
    resize: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}