@use 'sass:list';

body {
    font-family: 'Akzidenz Grotesk', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #454545;
    margin: 0;
    padding: 50px 30px;
    
    @include dark {
        color: #ccc;
        background-color: #2a2a2a;
    }
}

h1,
h2,
button {
    color: #1f1f1f;
    
    @include dark {
        color: #f9f9f9;
    }
}

button:disabled {
    cursor: not-allowed;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 8px;
    transition: 0.3s border-color ease;
    
    @include dark {
        border-color: #515151;
    }
    
    &:hover {
        border-color: #000;
        
        @include dark {
            border-color: #888;
        }
    }
    
    form.form-submitted &:invalid {
        border-color: #c25252;
        outline-color: #c25252;
    }
}

.form-infield {
    position: relative;
    
    label {
        position: absolute;
        top: 12px;
        left: 12px;
        font-size: 16px;
        font-weight: weight('regular');
    }
    
    input {
        padding-top: 38px;
    }
}

legend {
    margin-bottom: 6px;
}

a,
button.button-link {
    color: #4b5f9f;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
    
    &:hover,
    &:active {
        border-bottom-color: currentcolor;
    }
    
    @include dark {
        color: #7786b6;
    }
}

button.button-link {
    padding: 0;
}

legend,
label {
    font-weight: weight('medium');
}

fieldset,
.form-infield + .form-infield {
    margin-top: 12px;
}

.subtitle {
    letter-spacing: 0.25px;
    opacity: 0.5;
}

.link-external {
    color: inherit;
    font-size: 0.75em;
    font-weight: weight('medium');
    text-transform: uppercase;
    
    & > .icon {
        margin-left: 8px;
        vertical-align: -1px;
    }
}

.button-set {
    display: flex;
    gap: 10px;
    margin-top: 26px;
}
    
.button-filled {
    width: 100%;
    border-radius: 8px;
    padding: 7px;
}

.button-filled,
.feature-option input[type="checkbox"] {
    background-color: #ededed;
    transition: background-color 0.2s ease;
    
    @include dark {
        background-color: #222;
    }
    
    &:hover {
        background-color: #e4e4e4;
        
        @include dark {
            background-color: #272727;
        }
    }
    
    &:active {
        background-color: #e0e0e0;
        
        @include dark {
            background-color: #2b2b2b;
        }
    }
}

.button-filled.button-primary,
.feature-option input[type="checkbox"]:checked {
    background-color: #000;
    color: #fff;
    
    @include dark {
        background-color: #444;
    }
    
    &:hover {
        background-color: #191919;
        
        @include dark {
            background-color: #494949;
        }
    }
    
    &:active {
        background-color: #232323;
        
        @include dark {
            background-color: #4e4e4e;
        }
    }
}

.button-rounded {
    line-height: 1;
    width: 1.6em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 3px 0 0;
    
    &.card-close,
    &.page-close {
        font-size: 24px;
    }
    
    &.card-close {
        margin-right: -2px;
    }
    
    &.page-close {
        margin-right: -6px;
    }
}

.button-rounded,
.menu-popup button,
.menu-popup a {
    transition: background-color 0.2s ease;
    
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        
        @include dark {
            background-color: rgba(255, 255, 255, 0.06);
        }
    }
    
    &:active {
        background-color: rgba(0, 0, 0, 0.08);
        
        @include dark {
            background-color: rgba(255, 255, 255, 0.09);
        }
    }
}

a.button-filled {
    display: block;
}

a.button-filled,
a.button-rounded {
    color: inherit;
    text-align: center;
    border: none;
}

a.button-rounded {
    float: right;
    
    .icon {
        vertical-align: -0.5rem;
    }
}

.tab-group {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    font-size: 16px;
    background: #eee;
    padding: 5px 6px;
    margin: 20px 0;
    border-radius: 21px;
    overflow: hidden;
    
    @include dark {
        background: #1b1b1b;
    }
    
    button {
        font-weight: weight('medium');
        height: 2em;
        border-radius: 1em;
        opacity: 0.85;
        transition: opacity 0.3s ease, background 0.2s ease;
        
        &:hover,
        &.active {
            opacity: 1;
        }
        
        &.active {
            background: #fff;
            box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
            
            @include dark {
                background: #343434;
            }
        }
    }
}

.menu-container {
    position: relative;
    
    .menu-toggle {
        color: #8b8b8b;
        vertical-align: -3px;
    }
    
    .menu-popup {
        position: absolute;
        right: 0;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 18px rgb(0 0 0 / 15%);
        padding: 7px 0;
        margin: 5px 0;
        z-index: 1;
        
        @include dark {
            background: #242424;
        }
        
        button,
        a {
            width: 100%;
            padding: 5px 15px;
            white-space: nowrap;
            text-align: left;
            
            & > .icon {
                vertical-align: -2px;
                margin-right: 8px;
            }
        }
        
        a {
            display: block;
            color: inherit;
            border-bottom: none;
        }
        
        .menu-group + .menu-group::before {
            content: '';
            display: block;
            width: calc(100% - 30px);
            margin: 6px auto;
            border-bottom: 1px solid #d0d0d0;
            
            @include dark {
                border-color: #424242;
            }
        }
    }
}

#main-menu {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 1;
    
    .menu-container {
        .menu-toggle {
            font-size: 24px;
            color: #5a5a5a;
            
            @include dark {
                color: #b6b6b6;
            }
        }
        
        .menu-popup {
            background: #fff;
            
            @include dark {
                background: #111;
            }
        }
    }
}

#map-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    
    @include dark {
        a {
            border-bottom: none;
        }
        
        .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
            background-color: rgba(0, 0, 0, 0.2);
        }
        
        .mapboxgl-ctrl-attrib-button {
            filter: invert(0.6);
        }
        
        .mapboxgl-ctrl-attrib a {
            color: #999;
        }
        
        a.mapboxgl-ctrl-logo {
            opacity: 0.5;
        }
    }
}

.image-gallery {
    --pswp-bg: #fff;
    --pswp-icon-color: #111;
    --pswp-icon-color-secondary: #fff;
    --pswp-icon-stroke-color: #fff;
    
    @include dark {
        --pswp-bg: #000;
        --pswp-icon-color: #eee;
        --pswp-icon-color-secondary: #000;
        --pswp-icon-stroke-color: #000;
    }
    
    img {
        border-radius: 8px;
        overflow: hidden;
    }
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 30px 50px;
    z-index: 1;
}

h1.title {
    font-size: 34px;
    font-weight: weight('light');
    line-height: 1.25;
    margin: 15px 0;
    text-transform: lowercase;
    background-image: radial-gradient(closest-side, rgba(252, 252, 252, 0.75), transparent);
    margin: calc(-75px + 15px) -150px;
    padding: 75px 150px;
    
    @include dark {
        background-image: radial-gradient(closest-side, rgba(36, 36, 36, 0.6), transparent);
    }
    
    & > button {
        color: inherit;
    }
}

#search-container,
.sidebar-card {
    width: 460px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 25%);
}

#search-container,
#search-container input,
.sidebar-card {
    border-radius: 10px;
    overflow: hidden;
    
    @include dark {
        background-color: #111;
    }
}

#search-container {
    position: relative;
    padding: 2px;
    flex-shrink: 0;
    
    input {
        font-size: 22px;
        padding: 12px;
        padding-right: 5em;
        letter-spacing: 0.5px;
        border: none;
        
        &:placeholder-shown {
            font-style: italic;
        }
    }
    
    .search-actions {
        position: absolute;
        top: 13px;
        right: 5px;
        opacity: 0.5;
    
        button {
            padding: 8px 14px;
            font-size: 22px;
            line-height: 1;
            
            .icon {
                display: block;
                height: 1em;
            }
        }
        
        button:nth-of-type(2) {
            border-left: 1px solid #a0a0a0;
            margin-left: 4px;
            
            @include dark {
                border-color: #737373;
            }
        }
    }
    
    input:focus + .search-actions,
    .search-actions:focus-within {
        opacity: 0.85;
    }
}

#search-results-container {
    margin: 0 12px;
    padding: 10px 0;
    border-top: 1px solid #eee;
    list-style: none;
    
    @include dark {
        border-top-color: #272727;
    }

    &:empty {
        padding: 0;
        border: none;
    }
    
    .search-result {
        width: 100%;
        color: #333;
        font-size: 18px;
        text-align: left;
        padding: 4px 0;
        border-radius: 8px;
        letter-spacing: 1px;
        cursor: pointer;
        opacity: 0.85;
        transition: opacity 0.3s ease;
        
        @include dark {
            color: #e8e8e8;
            opacity: 0.8;
        }
    }
    
    .search-result:hover {
        opacity: 1;
    }
    
    & > li + li {
        margin-top: 4px;
    }
}

.search-result {
    & > .route-icon {
        font-size: 12px;
        vertical-align: 1px;
        padding: 0 5px;
    }
}

.route-icon {
    display: inline-block;
    color: #fff;
    font-weight: weight('medium');
    text-align: center;
    line-height: 1.5;
    border-radius: 0.75em;
    letter-spacing: 0;
    padding: 0 8px;
    margin-left: 8px;
    
    @include dark {
        color: #050505;
    }
    
    & + & {
        margin-left: 6px;
    }
    
    $colors: (
        'red': #fe5757,
        'orange': #ffa233,
        'yellow': #ffd200,
        'green': #8fdd3c,
        'blue': #7796ff,
        'purple': #c77bff,
        'pink': #ff85c1,
        'brown': #d39267
    );
    
    @each $name, $color in $colors {
        &.route-#{$name} {
            background-color: $color;
        }
        
        &.route-#{$name}.inverted {
            color: $color;
        }
    }
    
    &.inverted {
        background-color: #fff;
    }
}

.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar-card {
    padding: 22px 14px 28px;
    overflow-y: auto;

    & + &,
    #search-container + & {
        margin-top: 24px;
    }
    
    h2 {
        font-size: 25px;
        font-weight: weight('medium');
        letter-spacing: -0.5px;
        margin-block: 0;
        
        &.alt-header {
            font-size: 14px;
            letter-spacing: 1px;
            padding-top: 8px;
            text-transform: uppercase;
        }
    }
}

.stop-details-card {
    .stop-alert-link {
        display: inline-block;
        margin-bottom: 2px;
    }
    
    .source-link {
        display: block;
        font-size: 16px;
        font-weight: weight('light');
        opacity: 0.4;
        
        & > a {
            color: inherit;
        }
    }
}

.stop-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    font-weight: weight('medium');
    list-style: none;
    padding: 0;
}

.stop-tag,
.stop-accessibility-state {
    line-height: 2em;
    border-radius: 1em;
    background-color: #ededed;
    padding-inline: 12px;
    
    & > .icon {
        margin-right: 8px;
        vertical-align: -2px;
    }
}

.stop-tag {
    @include dark {
        color: #dbdbdb;
        background-color: #222;
    }
}

.stop-accessibility-state {
    $colors: (
        'accessible': (#85a2ff, #1a358f, #242e4f, #b2c2ff),
        'warning': (#ffd57c, #6d4c07, #372a15, #f2c789),
        'inaccessible': (#ff7d7d, #811616, #361717, #fdacac),
        'unknown': (#b1b1b1, #464646, #222222, #c1c1c1)
    );
    
    @each $name, $color in $colors {
        &.state-#{$name} {
            background-color: list.nth($color, 1);
            color: list.nth($color, 2);
            
            @include dark {
                background-color: list.nth($color, 3);
                color: list.nth($color, 4);
            }
        }
    }
}

.review-container {
    border-top: 1px solid #dcdcdc;
    padding-top: 14px;
    
    @include dark {
        border-top-color: #3d3d3d;
    }
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    
    .review-author,
    .review-stop {
        color: inherit;
        font-weight: weight('medium');
    }
    
    .review-timestamp {
        margin-left: auto;
        padding-right: 7px;
        font-weight: weight('light');
        opacity: 0.5;
    }
    
    .profile-picture {
        width: 1.5em;
        height: 1.5em;
    }
}

.review-accessibility-state {
    font-size: 16px;
    font-weight: weight('medium');
    
    $colors: (
        'accessible': (#1a358f, #b2c2ff),
        'warning': (#6d4c07, #f2c789),
        'inaccessible': (#811616, #fdacac)
    );
    
    @each $name, $color in $colors {
        &.state-#{$name} {
            color: list.nth($color, 1);
            
            @include dark {
                color: list.nth($color, 2);
            }
        }
    }
    
    .icon {
        vertical-align: middle;
        margin-right: 6px;
    }
}

.review-single {
    margin-top: 16px;
    
    p {
        margin-top: 6px;
        margin-bottom: 0;
    }
    
    & + .review-contribute {
        margin-top: 16px;
    }
    
    .attachment-list {
        margin-top: 16px;
        padding-bottom: 12px;
        box-sizing: content-box;
    }
}

.review-drawer-toggle {
    width: 100%;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.6;
    transition: 0.3s ease opacity;
    
    @include dark {
        opacity: 0.45;
    }
    
    &:hover {
        opacity: 0.7;
        
        @include dark {
            opacity: 0.55;
        }
    }
    
    .icon {
        float: right;
        margin-right: 4px;
    }
    
    &[aria-expanded="true"] .icon {
        transform: rotate(180deg);
    }
}

.review-drawer-toggle,
.review-contribute {
    padding: 4px 0;
    text-transform: uppercase;
}

.review-contribute {
    font-size: 13px;
    font-weight: weight('medium');
    letter-spacing: 0.5px;
    
    .icon {
        font-size: 16px;
        vertical-align: middle;
        margin-right: 8px;
    }
}

.attachment-list {
    display: flex;
    gap: 10px;
    height: 125px;
    overflow-x: auto;
    
    img {
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
    }
}

.profile-picture {
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
}

.user-profile {
    h1 {
        margin-block: 5px;
    }
    
    .profile-picture {
        width: 100px;
    }
    
    .review-container {
        border: none;
    }
    
    .review-single {
        margin-top: 22px;
    }
    
    .review-single + .review-single {
        border-top: 1px solid #dcdcdc;
        padding-top: 20px;
        
        @include dark {
            border-top-color: #3d3d3d;
        }
    }
    
    .review-header {
        margin-bottom: 10px;
    }
}

.feature-option-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.feature-option {
    position: relative;
    flex-grow: 1;
    text-align: center;
    
    & > input[type="checkbox"] {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        margin: 0;
        border: none;
        border-radius: 8px;
        
        &:checked + label {
            color: #ebebeb;
        }
    }
    
    & > label {
        display: block;
        position: relative;
        z-index: 1;
        cursor: pointer;
        padding: 12px;
        font-weight: weight('regular');
        font-size: 16px;
        line-height: 22px;
        
        & > .icon {
            display: block;
        }
    }
}

.route-list {
    margin-top: 12px;
    
    .button-filled {
        color: #fff;
        font-size: 20px;
        font-weight: weight('medium');
        text-align: left;
        margin-top: 10px;
        padding-inline: 10px;
        opacity: 0.95;
        transition: opacity 0.3s ease;
        
        &:hover,
        &:active {
            opacity: 1;
        }
        
        .route-icon {
            font-size: 16px;
            vertical-align: 1px;
        }
        
        .icon {
            font-size: 18px;
            display: inline-block;
            transform: rotate(-90deg);
            float: right;
        }
    }
    
    p {
        margin: 0;
    }
}

.route-details-card {
    .route-icon {
        font-size: 18px;
        vertical-align: 2px;
        margin-left: 10px;
    }
}

.stop-list-tree {
    border-left: 2px solid #b3b3b3;
    margin: 0 15px;
    padding: 6px 0;
    list-style: none;
    line-height: 2;
    white-space: nowrap;
    
    .stop-icon {
        margin-left: calc(-10px - 2px / 2);
        vertical-align: -3px;
    }
    
    a {
        color: inherit;
        margin-left: 15px;
    }
    
    .branch-set {
        margin-left: calc(30px - 2px);
        margin-block: 18px;
        border-left: 2px solid #b3b3b3;
        position: relative;
        
        .branch-base {
            margin-left: -30px;
            
            a {
                margin-left: calc(30px + 15px);
            }
        }
        
        &::before,
        &::after {
            content: '';
            display: block;
            width: 28px;
            height: 11px;
            position: absolute;
            left: -30px;
            border: 2px solid #b3b3b3;
        }
        
        &::before {
            top: -11px;
            border-top-right-radius: 8px;
            border-bottom: none;
            border-left: none;
        }
        
        &::after {
            bottom: -11px;
            border-bottom-right-radius: 8px;
            border-top: none;
            border-left: none;
        }
    }
}

.stop-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    
    $states: (
        'accessible', 'warning', 'inaccessible', 'unknown'
    );
    
    @each $name in $states {
        &.state-#{$name} {
            background-image: url('../../public/img/map-' + $name + '-dark.svg');
            
            @include dark {
                background-image: url('../../public/img/map-' + $name + '-light.svg');
            }
        }
    }
}

.about-card p:first-of-type {
    margin-block-start: 14px;
}

.about-card p:last-of-type {
    margin-block-end: 10px;
}

.form-fullscreen,
.notice-fullscreen,
.page-fullscreen {
    max-width: 510px;
    margin-inline: auto;
}

.form-fullscreen,
.notice-fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);
    & > h1 {
        margin-block: 0;
        letter-spacing: -1px;
    }
}

.notice-fullscreen {
    text-align: center;
    
    & > .icon {
        display: block;
        font-size: 42px;
        color: #232323;
        margin-top: 8px;
        
        @include dark {
            color: #f4f4f4;
        }
    }
}